element {
  /* font-weight */
  --bold: 800;

  /* font-size */
  --header-1: 50px !important;
}

body {
  width: 600px;
  margin: 0px !important;
  height: auto;
  overflow: hidden;
}
.div-content {
  display: block;
  padding: 0px 18px;
  overflow: scroll;
  max-height: 500px;
}

.banner {
  color: white;
  padding: 10px;
  margin: 0px 0px 10px 0px !important;
  width: 100%;
  background-color: black;
}

.banner img {
  height: 70px;
  margin-right: 20px;
}

.form-funny span {
  width: 100%;
}

.form-funny input[type="text"],
input[type="password"],
select,
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-funny textarea {
  height: 100px;
}

.form-funny input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-funny input[type="submit"]:hover {
  background-color: #45a049;
}

.flex {
  display: flex;
  flex-direction: row;
}

.flex-one {
  flex: 1;
}

.right {
  text-align: right;
}

.btn-submit {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.text-red {
  color: red;
}
.text-green {
  color: #45a049;
}

.collapse .c-head {
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

.collapse .c-head:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.collapse .c-body {
  height: 0px;
  opacity: 0;
  position: relative;
  z-index: -1;
  transition: height 0.2s;
}
